<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title><%= pageTitle %></title>
</head>
<body style="font-family: monospace;" class="bg-gray-100">
<!-- <section style="font-family: monospace;" class="w-screen h-screen bg-gray-100"> -->
  <div class="bg-white mx-auto mt-12 text-center w-2/12 rounded-lg shadow-md">
    Your IP -> <%= yourIP %>
  </div>
  <div class="bg-white shadow-md"></div>
<!-- </section> -->
</body>
</html>